<div class="modal-content">
  <span class="close">&times;</span>
  <h4>Edit Bike Info</h4>
  <div class="toh-mt-24">
    <form class="uk-grid-small uk-form-stacked" uk-grid>
      <input class="uk-input"  type="hidden" name="EditBikeID" id="EditBikeID">
      <div class="uk-width-1-1@s toh-mb-18">
        <label class="uk-form-label" for="EditBikeName">Bike Nickname</label>
        <input class="uk-input toh-input" id="EditBikeName" type="text" placeholder="">
      </div>
      <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="EditBikeYear">Bike Year</label>
        <input class="uk-input toh-input" id="EditBikeYear" type="text" placeholder="">
      </div>
      <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="EditBikeMake">Bike Make</label>
        <input class="uk-input toh-input" id="EditBikeMake" type="text" placeholder="">
      </div>
      <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="EditBikeModel">Bike Model</label>
        <input class="uk-input toh-input" id="EditBikeModel" type="text" placeholder="">
      </div>
      <div class="uk-width-1-1@s toh-mt-18">
        <div class="uk-align-right">
          <label class="uk-form-label">&nbsp;</label>
          <button class="uk-button uk-button-default button-rounded" id="cancelButton">Cancel</button>
          <button class="uk-button uk-button-primary button-rounded toh-ml-8" id="saveEditedBikeInfoBtn">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>