<div class="modal-content-mini uk-text-left">
  <span class="close">&times;</span>
  <h3>Add Missing Order Number</h3>
  <div class="toh-mt-24">
    <form class="uk-grid-small uk-form-stacked" uk-grid>
      <div class="uk-width-1-1@s">
        <label class="uk-form-label" style="display:inline; margin-bottom: 0; " for="missingOrderNumber">
          Enter Missing Order Number:
        </label>
        <input class="uk-input toh-input" id="missingOrderNumber" type="text" placeholder="" required>
      </div>
      <div class="uk-width-1-1@s uk-grid-margin toh-mt-10">
        <div class="uk-align-right">
          <label class="uk-form-label">&nbsp;</label>
          <button class="uk-button uk-button-secondary button-rounded cancelButton" id="cancelMissingOrderNumberBtn">Cancel</button>
          <button class="uk-button uk-button-primary button-rounded toh-ml-8" id="saveMissingOrderNumberBtn" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
