<div class="uk-grid-small uk-text-center" uk-grid>
  <div class="uk-width-expand"></div>
  <div class="uk-text-center">
    <p>&nbsp;<br />
      © 2021 Tour of Honor, LLC | Site Design by ambitiousNerds
    </p>
  </div>
  <div class="uk-width-expand"></div>
</div>