<div class="uk-grid-small uk-text-center" uk-grid>
  <div class="uk-width-expand"></div>
  <div class="uk-text-center">
    <p>&nbsp;<br />
      © 2022 Tour of Honor, LLC | Site Design by <a class="hidden-link" href="https://www.ambitiousnerds.com">ambitiousNerds</a> | Version <a class="hidden-link" href="/changelog">22.7.2.284</a>
    </p>
  </div>
  <div class="uk-width-expand"></div>
</div>