<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if(!envIsProd) { %>
    <title><%= envNameShort %> - <%= title %></title>
  <% } else { %>
    <title><%= title %></title>
  <% } %>

  <!-- jQuery -->
  <script src="/js/jquery-3.6.1.min.js"></script>
  <!-- UIKit -->
  <link rel="stylesheet" href="/css/uikit.min.css" />
  <script src="/js/uikit.min.js"></script>
  <script src="/js/uikit-icons.min.js"></script>
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="/css/DataTables/datatables.min.css"/>
  <script type="text/javascript" src="/css/DataTables/datatables.min.js"></script>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,900;1,400&family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&family=Exo+2:wght@600&family=Stardos+Stencil:wght@700&display=swap" rel="stylesheet">
  <!-- FontAwesome -->
  <script defer src="/fontawesome/js/brands.min.js"></script>
  <script defer src="/fontawesome/js/light.min.js"></script>
  <script defer src="/fontawesome/js/solid.min.js"></script>
  <script defer src="/fontawesome/js/fontawesome.min.js"></script>
  <!-- PapaParse -->
  <script type="text/javascript" src="/js/papaparse.min.js"></script>
  <!-- Favicon Support -->
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/manifest.json">
  <!-- Local CSS Styles -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>