<div class="modal-content uk-text-center">
  <span class="close">&times;</span>
  <h3>Important!</h3>
  <div class="toh-mt-12 toh-mb-12">
    <div>
      <p>
        Clicking "Reset Rider Flag" will immediately make flag number <span id="riderFlagNumber">???</span> available for anyone to reserve. 
        <!-- <br />
        We will send a text to <span id="riderCellNumber">NUMBER NOT FOUND</span> to let this rider know they need to come back and re-select a flag number. -->
      </p>
    </div>
    <div class="uk-align-right">
      <button class="uk-button uk-button-secondary button-rounded cancelButton" id="cancelFlagResetBtn">Cancel</button>
      <button class="uk-button uk-button-primary button-rounded toh-ml-8" id="resetRiderFlagBtn">Reset Rider Flag</button>
    </div>
    &nbsp;
  </div>
</div>