<div class="modal-content">
  <span class="close">&times;</span>
  <h3>Important!</h3>
  <div class="toh-mt-12 toh-mb-12">
    <p>Clicking "Continue to Checkout" will open Shopify Checkout in a new tab or window. <br />When you have finished paying via Shopify, you MUST close that tab or window and return to this one so that you can continue the registration.</p>
    <div class="uk-align-right">
      <button class="uk-button uk-button-secondary button-rounded cancelButton" id="cancelCheckoutButton">Go Back</button>
      <button class="uk-button uk-button-primary button-rounded toh-ml-8" id="goToShopifyPaymentBtn">Continue to Checkout</button>
    </div>
    &nbsp;
  </div>
</div>