<!-- Desktop Navigation -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@s" href="/memorials">TOH</a>
      <a class="uk-navbar-item uk-logo uk-visible@s" href="/memorials"><img class="toh-logo" src="/images/toh_logo.png"></a>
    </div>
    <div class="uk-navbar-right">
      <!-- <a href="/login" class="uk-hidden@m hidden-link"><i class="fal fa-sign-in fa-lg"></i></a> -->
      <a href="#mobilenav" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <% if(User.isAdmin) { %>
          <li>
            <a href="#">Admin</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/admin">Admin Tools</a></li>
                <li><a href="/scoring">Scoring Dashboard</a></li>
              </ul>
            </div>
          </li>
        <% } %>
        <% if(User.FlagNumber) { %>
          <li>
            <a href="#">Rally</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/memorials">Memorials</a></li>
                <!-- <li><a href="/livefeed">Live Feed</a></li> -->
                <li><a href="/riders">Rider List</a></li>
                <li><a href="/stats">Stats</a></li>
              </ul>
            </div>
          </li>
        <% } else { %>
          <li>
            <a href="#">Rally</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/memorials">Memorials</a></li>
                <!-- <li><a href="/livefeed">Live Feed</a></li> -->
                <li><a href="/riders">Rider List</a></li>
              </ul>
            </div>
          </li>
        <% } %>
        <li>
          <a href="#"><i class="fal fa-circle-user fa-lg"></i></a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/user-profile" class="hidden-link">Profile</a></li>
              <li id="topnavLogout" class="hidden-link"><a href="/logout" class="hidden-link">Logout&nbsp;<span class="fal fa-arrow-right-from-bracket fa-lg"></span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <hr style="color: black;">
</div>

<!-- Mobile Navigation -->
<div id="mobilenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      <% if(User.isAdmin) { %>
        <li class="uk-parent">
          <a href="#">Admin</a>
          <ul class="uk-nav-sub">
            <li><a href="/admin">Admin Tools</a></li>
            <li><a href="/scoring">Scoring Dashboard</a></li>
          </ul>
        </li>
      <% } %>
      <% if(User.FlagNumber) { %>
        <li class="uk-parent">
          <a href="#">Rally</a>
          <ul class="uk-nav-sub">
            <li><a href="/memorials">Memorials</a></li>
            <!-- <li><a href="/livefeed">Live Feed</a></li> -->
            <li><a href="/stats">Stats</a></li>
          </ul>
        </li>
      <% } else { %>
        <li class="uk-parent">
          <a href="#">Rally</a>
          <ul class="uk-nav-sub">
            <li><a href="/memorials">Memorials</a></li>
            <!-- <li><a href="/livefeed">Live Feed</a></li> -->
          </ul>
        </li>
      <% } %>
      <li class="uk-parent">
        <a href="#"><i class="fal fa-circle-user fa-lg"></i></a>
        <ul class="uk-nav-sub">
          <li><a href="/user-profile">Profile</a></li>
          <li id="topnavLogout"><a href="/logout">Logout&nbsp;<span class="fal fa-arrow-right-from-bracket fa-lg"></span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>