<!-- Desktop Navigation -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@s" href="/">TOH</a>
      <a class="uk-navbar-item uk-logo uk-visible@s" href="/">Tour of Honor</a>
    </div>
    <div class="uk-navbar-right">
      <a href="/login" class="uk-hidden@m hidden-link"><i class="fal fa-sign-in fa-lg"></i></a>
      <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/2021" class="hidden-link">2021</a></li> -->
        <!-- <li><a href="/history" class="hidden-link">History</a></li> -->
        <!-- <li>
          <a href="#">More</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/covid1000">COVID-1000</a></li>
              <li><a href="/2020">2020</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </li> -->
        <li id="topnavLogin"><a href="/login" class="hidden-link">Login&nbsp;<span class="fal fa-sign-in fa-lg"></span></a></li>
      </ul>
    </div>
  </nav>
</div>