<!-- Desktop Navigation (Open) -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav" <%- envIsTest ? 'style="background-color: rgba(245, 75, 75, 0.708) !important"' : envIsDev ? 'style="background-color: coral !important"' : ''%>>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@s" href="/">TOH</a>
      <a class="uk-navbar-item uk-logo uk-visible@s" href="/memorials"><img class="toh-logo" src="/images/toh_logo.png"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="/memorials">Memorials</a></li>
        <!-- <li><a href="/livefeed">Live Feed</a></li> -->
        <li><a href="/riders">Riders List</a></li>
        <!-- <li>
          <a href="#">More</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/rules">Rules</a></li>
            </ul>
          </div>
        </li> -->
        <li><a href="/registration">2025 Registration</a></li>

      </ul>
    </div>
    <div class="uk-navbar-right">
      <a href="#mobilenav" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <a href="/login" class="uk-hidden@m hidden-link"><i class="fa-light fa-arrow-right-to-bracket fa-lg"></i></a>
      <ul class="uk-navbar-nav uk-visible@m">

        <li id="topnavLogin"><a href="/login">Login&nbsp;<span class="fa-light fa-arrow-right-to-bracket fa-lg"></span></a></li>
      </ul>
      
    </div>
  </nav>
  <hr style="color: black;">
</div>

<!-- Mobile Navigation -->
<div id="mobilenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      <li class="uk-parent">
        <a href="#">Rally</a>
        <ul class="uk-nav-sub">
          <li><a href="/memorials">Memorials</a></li>
          <!-- <li><a href="/livefeed">Live Feed</a></li> -->
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><i class="fa-light fa-circle-user fa-lg"></i></a>
        <ul class="uk-nav-sub">
          <li id="topnavLogin"><a href="/login">Login&nbsp;<span class="fa-light fa-arrow-right-to-bracket fa-lg"></span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
