<div class="modal-content">
  <span class="close">&times;</span>
  <h4>Edit User</h4>
  <form class="uk-grid-small uk-form-stacked" uk-grid>
    <input class="uk-input" id="EditUserID" type="hidden" placeholder="">
    <div class="uk-width-1-5@s">
      <label class="uk-form-label" for="EditFlagNumber">Flag Number</label>
      <input class="uk-input" id="EditFlagNumber" type="text">
    </div>
    <div class="uk-width-2-5@s">
      <label class="uk-form-label" for="EditFirstName">First Name</label>
      <input class="uk-input" id="EditFirstName" type="text" placeholder="">
    </div>
    <div class="uk-width-2-5@s">
      <label class="uk-form-label" for="EditLastName">Last Name</label>
      <input class="uk-input" id="EditLastName" type="text" placeholder="">
    </div>
    <div class="uk-width-3-5@s">
      <label class="uk-form-label" for="EditUserName">User Name</label>
      <input class="uk-input" id="EditUserName" type="text" placeholder="">
    </div>
    <div class="uk-width-2-5@s">
      <label class="uk-form-label" for="EditZipCode">Zip Code</label>
      <input class="uk-input" id="EditZipCode" type="text" placeholder="">
    </div>
    <div class="uk-width-4-5@s">
      <label class="uk-form-label" for="EditEmail">Email</label>
      <input class="uk-input" id="EditEmail" type="text" placeholder="">
    </div>
    <div class="uk-width-1-5@s">
      <label class="uk-form-label" for="isAdmin">&nbsp;</label>
      <input class="uk-checkbox" id="isAdmin" type="checkbox" placeholder="">&nbsp; Admin
    </div>
    <div class="uk-width-1-3@s">
      &nbsp;
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="cancelButton">&nbsp;</label>
      <button class="uk-button uk-button-default" id="cancelButton" type="button">Cancel</button>
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="saveUserChangesButton">&nbsp;</label>
      <button class="uk-button uk-button-default" id="saveUserChangesButton" type="button">Save</button>
    </div>
  </form>
</div>