  /* following style will be applied to every element */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  background-color: #C0DFFD;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 0 10px;
}

footer {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}

@media (min-width: 960px) {
  main {
    flex-grow: 1;
    padding: 0 20px;
  }
}

hr {
  border-top: 1px solid black;
  margin-top: 0;
}

.hide-me {
  display: none !important;
}

h1,h2,h3,h4,h5,h6 {
  /* font-family: 'Raleway', Helvetica, Arial, sans-serif; */
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin: 0px;
}

h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0px;
}

h4 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 0px;
}

h5 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 12px 0px;
}

h6 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 12px 0px;
}

form {
  margin-bottom: 12px;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none !important;
}

a.disabled:hover {
  text-decoration: none;
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #666;
}

.container {
  padding: 12px;
}

.admin-container {
  padding: 8px 48px;
}

.memorialData h4 {
  margin-bottom: 12px;
}

#memorialInfo {
  margin-bottom: 12;
}

#editMemorialInfo label {
  margin-top: 12px;
}

.fa-clipboard-check {
  color: #66666640
}

.greenCheckmark {
  color: green;
}

.sampleImage {
  width: 80%;
  margin-bottom: 0;
}

.toh-label {
  display: inline-block;
  padding: 4px;
  background: #444;
  line-height: 1.5;
  font-size: .875rem;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
}

.toh-rider-flag {
  padding: 4px 10px;
  background-color: yellow;
  color:#000;
  border: black 1px solid;
  font-weight: 600;
  font-size: 1.05em;
}

.toh-rider-flag-sm {
  /* padding: 2px 4px; */
  background-color: yellow;
  color:#000;
  border: black 1px solid;
  font-weight: 600;
  font-size: .80em;
}

.toh-id-flag {
  padding: 4px 10px;
  background-color: #444;
  color: #fff;
  font-weight: 600;
  font-size: 1.05em;
}

.toh-button-green {
  background-color: green;
  color: #fff;
  border: 1px solid transparent;
}

#toh-scoring-page {
  padding: 0px 24px;
}

.toh-notice-banner {
  background-color: indianred;
  color: black;
  font-weight: 500;
  border: 1 solid black;
  border-radius: 12px;
  margin: 8px 24px;
}

.uk-navbar-container {
  background-color: #C0DFFD !important;
}

.uk-logo {
  color:black !important;
}

.uk-navbar-nav > li > a {
  font-size: 1.1em;
  color:black !important;
}

.uk-navbar-dropdown-nav > li > a {
  font-size: 1.1em;
  color:black !important;
}

.uk-dropdown {
  min-width: 230px !important;
}

.submissionNotesSection {
  margin-bottom: 18px;
}

.labelValidationStatusFailed {
  background-color: #f0506e;
  border-radius: 8px;
  color: #fff;
  float: right;
  padding: 2px 8px;
}

.labelValidationStatusSuccess {
  background-color: #32d296;
  border-radius: 8px;
  color: #fff;
  float: right;
  padding: 2px 8px;
}

.noOrderFoundText {
  font-weight: bold;
}

.toh-logo {
  height: 80px
}

.toh-m-0 {
  margin: 0;
}

.toh-mb-0 {
  margin-bottom: 0px;
}

.toh-mt-0 {
  margin-top: 0px;
}

.toh-mr-8 {
  margin-right: 8px;
}

.toh-mt-8 {
  margin-top: 8px;
}

.toh-ml-8 {
  margin-left: 8px;
}

.toh-mb-8 {
  margin-bottom: 8px;
}

.toh-mr-12 {
  margin-right: 12px;
}

.toh-mt-12 {
  margin-top: 12px;
}

.toh-mb-12 {
  margin-bottom: 12px;
}

.toh-mt-18 {
  margin-top: 18px;
}

.toh-mr-18 {
  margin-right: 18px;
}

.toh-mb-18 {
  margin-bottom: 18px;
}

.toh-mb-24 {
  margin-bottom: 24px;
}

.toh-mt-24 {
  margin-top: 24px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #C0DFFD;
  margin: 15% auto;
  padding: 20px;
  width: 80%
}

.modal-content-mini {
  background-color: #C0DFFD;
  margin: 15% auto;
  padding: 20px;
  width: 30%
}

.close {
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.uk-checkbox {
  background-color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: #f8f8f8 !important;
}

.no-link-underline .uk-button-link {
  text-decoration: none !important;
}

.editUserButton, .sendProfileEmailButton , .sendSMSTextButton {
  cursor: pointer;
  font-size: 1em;
}

.largerLabel {
  font-size: 1.1em;
}

.toh-alert {
  text-align: center;
  color: indianred;
  font-size: 1.2em;
}

.toh-miniHeader {
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.toh-input {
  border-radius: 8px;
}

.toh-inline-label {
  display: inline !important;
}

.toh-flag-mockup {
  width: 180px;
  height: 120px;
  padding: 4px 10px;
  background-color: yellow;
}

.toh-flag-number {
  color:#000;
  font-weight: 600;
  font-size: 4em;
  margin-top: 14px;
}

.button-rounded {
  border-radius: 8px;
}

.toh-button-success {
  background-color: #32d296;
  border: 1px solid transparent;
  color: #fff;
}

.force-uppercase {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.hiddenData {
  color: #C0DFFD;
}

#registrationSwitcher {
  display: flex;
  justify-content: center;
}

.forceOrderUpdateText {
  font-size: .9em;
}

.registrationTitleText {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: #0000009E;
}

.registrationSubtitleText {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;

}

.characterCount {
  float: right;
}

.spinnerBox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.7;
}

.spinner {
  background-color: transparent;
  position: fixed;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  left: 50%;
  height: 200px;
  width: 200px;
}

.dataValueBold {
  font-weight: bold;
}

.toh-changelog > ul {
  margin-bottom: 12px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;

}