body {
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C0DFFD;
  /* background-color: #FFE684; */
}

.container {
  padding: 12px;
}

main {
  padding: 10px;
}

@media (min-width: 960px) {
  main {
    padding: 20px;
  }
}

.hide-me {
  display: none !important;
}

h2 {
  /* font-family: 'Stardos Stencil', sans-serif; */
  font-weight: 600;
  font-size: 3em;
  margin: 0px;
}

h3 {
  /* font-family: 'Stardos Stencil', sans-serif; */
  font-weight: 600;
  font-size: 2.5em;
  margin: 0px;
}

@media (max-width: 959px) {
  h3 {
    font-size: 1.75em;
    /* color: #fff; */
    margin: 0px;
  }
}

h4 {
  /* font-family: 'Stardos Stencil', sans-serif; */
  font-weight: 600;
  font-size: 2em;
  margin: 0px;
}

@media (max-width: 959px) {
  h4 {
    font-size: 1.5em;
    margin: 0px;
  }
}

h5 {
  /* font-family: 'Stardos Stencil', sans-serif; */
  font-weight: 600;
  font-size: 1.5em;
  margin: 12px 0px;
}

h6 {
  /* font-family: 'Stardos Stencil', sans-serif; */
  font-weight: 600;
  font-size: 1.25em;
  margin: 12px 0px;
}

footer {
  /* font-family: 'Raleway', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}

.memorialData h4 {
  margin-bottom: 12px;
}

#memorial-editor h4 {
  margin-top: 20px;
}

#editMemorialInfo label {
  margin-top: 12px;
}

form {
  margin-bottom: 12px;
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #666;
}

.fa-clipboard-check {
  color: #66666640
}

.greenCheckmark {
  color: green;
}

.sampleImage {
  width: 80%;
  margin-bottom: 0;
}

.toh-label {
  display: inline-block;
  padding: 4px;
  background: #444;
  line-height: 1.5;
  font-size: .875rem;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
}

.toh-flag {
  padding: 4px 10px;
  background-color: #444;
  color: #fff;
  font-weight: 500;
  font-size: 1.05em;
}

.toh-button-green {
  background-color: green;
  color: #fff;
  border: 1px solid transparent;
}

#toh-scoring-page {
  padding: 0px 24px;
}

.toh-notice-banner {
  background-color: indianred;
  color: black;
  font-weight: 500;
  border: 1 solid black;
  border-radius: 12px;
  margin: 8px 24px;
}

.uk-navbar-container {
  background-color: #000 !important;
}

.submissionNotesSection {
  margin-bottom: 18px;
}

.toh-mb-18 {
  margin-bottom: 18px;
}