<div>
  <h4 class="toh-mb-18">Payment</h4>
  <div class="uk-align-center uk-text-center">
    Payment Info Goes Here
    <div class="uk-width-1-1@s uk-text-center">
      <label class="uk-form-label" for="savePaymentInfo">&nbsp;</label>
      <button type="button" id="savePaymentInfo" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Submit Payment Info</button>
    </div>
  </div>
</div>