<div>
  <h2 class="toh-mb-18">T-Shirts</h2>
  <form class="uk-grid-small uk-form-stacked" uk-grid>
    <div id="riderShirtSection" class="uk-width-1-1@s toh-mb-18" style="margin: 0 20%">
      <p>
        Please choose a T-Shirt for the Rider. <br />
        <strong>Additional Shirts will be available for order at the end of this registration process.</strong>
      </p>
      <div uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="RiderShirtStyle">Rider Shirt Style</label>
          <select required class="uk-select toh-input" name="RiderShirtStyle" id="RiderShirtStyle">
            <option selected value="Donation">No Shirt (proceeds donated to charity)</option>
            <option value="Short-Sleeved">Short-Sleeved</option>
            <option value="Long-Sleeved">Long-Sleeved (+$7)</option>
            <option value="Ladies V-Neck">Women's V-Neck (+$7)</option>
          </select>
        </div>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="RiderShirtSize">Rider Shirt Size</label>
          <select required disabled class="uk-select toh-input" name="RiderShirtSize" id="RiderShirtSize">
            <option select value="NA" id="RiderSizeNA">N/A</option>
            <option value="SM" id="RiderSizeSM">SM</option>
            <option value="MD" id="RiderSizeMD">MD</option>
            <option value="LG" id="RiderSizeLG">LG</option>
            <option value="XL" id="RiderSizeXL">XL</option>
            <option value="2X" id="RiderSize2X">2X (+$3)</option>
            <option value="3X" id="RiderSize3X">3X (+$3)</option>
            <option value="4X" id="RiderSize4X">4X (+$3)</option>
            <option value="5X" id="RiderSize5X">5X (+$3)</option>
          </select>
          <label class="uk-form-label" for="RiderShirtSize">V-Neck is not available in 4x or 5x.</label>
        </div>
      </div>
    </div>

    <!-- Passenger Shirt Options -->
    <% if (OrderInfo.PassUserID > 0) { %>
      <div id="passengerShirtSection" class="uk-width-1-1@s toh-mb-18" style="margin: 32px 20% 8px">
        <p>Please choose a T-Shirt for the Passenger.</p>
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="PassengerShirtStyle">Passenger Shirt Style</label>
            <select required class="uk-select toh-input" name="PassengerShirtStyle" id="PassengerShirtStyle">
              <option selected value="Donation">No Shirt (proceeds donated to charity)</option>
              <option value="Short-Sleeved">Short-Sleeved</option>
              <option value="Long-Sleeved">Long-Sleeved (+$7)</option>
              <option value="Ladies V-Neck">Women's V-Neck (+$7)</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="PassengerShirtSize">Passenger Shirt Size</label>
            <select required disabled class="uk-select toh-input" name="PassengerShirtSize" id="PassengerShirtSize">
              <option select value="NA" id="PassSizeNA">N/A</option>
              <option value="SM" id="PassSizeSM">SM</option>
              <option value="MD" id="PassSizeMD">MD</option>
              <option value="LG" id="PassSizeLG">LG</option>
              <option value="XL" id="PassSizeXL">XL</option>
              <option value="2X" id="PassSize2X">2X (+$3)</option>
              <option value="3X" id="PassSize3X">3X (+$3)</option>
              <option value="4X" id="PassSize4X">4X (+$3)</option>
              <option value="5X" id="PassSize5X">5X (+$3)</option>
            </select>
            <label class="uk-form-label" for="PassengerShirtSize">V-Neck is not available in 4x or 5x.</label>
          </div>
        </div>
      </div>
    <% } %> 
    
    <div class="uk-width-1-1@s uk-text-center">
      <label class="uk-form-label" for="saveTshirtInfo">&nbsp;</label>
      <button type="button" id="saveTshirtInfo" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>" data-passid="<%= OrderInfo.PassUserID %>">Save and Continue</button>
    </div>
  </form>
</div>