<div>
  <h4 class="toh-mb-18">Waiver</h4>
  <p>
    The Tour of Honor requires all participants to have a signed waiver on file. Please click the button below to fill out and sign our waiver.<br/>
    Once you have signed the waiver, you will be redirected back to this site to continue your registration.
  </p>
  <div class="uk-width-1-1@s">
    <label class="uk-form-label" for="saveWaiverInfoRider">&nbsp;</label>
    <button type="button" id="saveWaiverInfoRider" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Sign Rider Waiver</button>
    <label class="uk-form-label" for="saveWaiverInfoPassenger">&nbsp;</label>
    <button type="button" id="saveWaiverInfoPassenger" class="uk-button uk-button-primary button-rounded" data-userid="<%= OrderInfo.PassUserID %>">Sign Passenger Waiver</button>
  </div>
</div>