<p>Hi Jason,</p>
<p>The TOH Scoring Team found a submission they think is POTM worthy. Please click below to check it out.</p>
<p><a href="<%= URL %>">Link to POTM Submission</a></p>

<p> 
  Thank You,<br />
  Tour of Honor Scoring Team
</p>