<p>Hi <%= FirstName %>,</p>
<p>Thank you for setting up your TOH Scoring Portal profile.</p>
<p>We suggest bookmarking the <a href="https://toh-portal.ambitiousnerds.com">Tour of Honor Scoring Portal</a> as you will be using this site to submit your memorial visits throughout the tour.</p>

<p> - Tour of Honor Scoring Portal</p>