<p>To reset your Tour of Honor Scoring Portal password, please click the link below. Note that this link expires after 60 minutes.</p>
<p><a href="<%= URL %>">Reset TOH Password</a></p>
<p>If you did not request a password reset, you can safely ignore this email.</p>
<p> - Tour of Honor Scoring Portal</p>