<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <main>
    Put homepage stuff here<br />
    <a href="/admin/memorial-editor">Memorial Editor</a><br />
    <a href="/admin/memorial-metadata">Memorial Metadata</a><br />
    <a href="/admin/user-management">User Management</a><br />
    <a href="/admin/pending-memorials">Pending Memorials</a><br />
    <a href="/user-profile">User Profile</a><br />
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>