<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <main>
    Put homepage stuff here<br />
    <a href="/admin/memorial-editor">Memorial Editor</a>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>