<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <main>
    <p>Put homepage stuff here</p>
    <h6>ADMIN</h6>
    <a href="/admin/aux-memorial-editor">Auxiliary Memorial Editor</a><br />
    <a href="/admin/memorial-metadata">Memorial Metadata</a><br />
    <a href="/admin/user-management">User Management</a><br />
    <a href="/admin/state-memorial-editor">State Memorial Editor</a><br />
    <h6>USER</h6>
    <a href="/submit">Submit</a><br />
    <a href="/user-profile">User Profile</a><br />
    <a href="/login">Login</a><br />
    <a href="/signup">Signup</a><br />
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>