<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    Put live feed stuff here
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>