<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <main>
    Put login stuff here
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>