<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <main>
    <div class="uk-container-xsmall uk-margin-auto">
      <div class="">
        <h2 class="uk-text-center">Scoring Portal Login</h2>
        <p class="uk-text-center">Please login below using the <strong>email address</strong> and <strong>password</strong> that you registered with.</p>
        <form class="login">
          <div class="uk-margin">
            <label class="uk-form-label largerLabel" for="UserEmail">Email Address</label>
            <input class="uk-input" id="UserEmail" type="email" placeholder="name@domain.com">
          </div>
          <div class="uk-margin">
            <label class="uk-form-label largerLabel" for="UserPassword">Password</label>
            <input class="uk-input" id="UserPassword" type="password" placeholder="Password">
          </div>
          <button class="uk-button uk-button-primary uk-button-small">Login</button>
          <span style="font-size: .8em; padding-left: 16px"><a href="/forgotpassword">Forgot Password?</a></span>
        </form>
        <p>If you have not registered for the 2022 rally, please click <a href="https://www.tourofhonor.com/pages/register.html">here</a>.</p>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="js/login.js"></script>
</body>