<head>
  <%- include('../partials/head'); %>
</head>

<body <%- envIsProd ? '' : 'style="background-color: rgba(245, 75, 75, 0.708)"'%>>
  <div class="pageWrapper">
    <%- include('../partials/topnav'); %>
    <main>
      <div class="uk-container-xsmall uk-margin-auto">
        <div class="">
          <% if(envIsProd) { %>
            <h3 class="uk-text-center">Scoring Portal Admin Login</h3>
            <p class="uk-text-center">This page is for TOH Admins only. All activity is logged.</p>
          <% } else { %>
            <h3 class="uk-text-center">TOH Test Site - Admin Login</h3>
            <p class="uk-text-center" style="color: black;font-weight: 600; font-size: xx-large;">This site is accessible to TOH staff only. If you are a rider, then you want to go to <a href="https://scoring.tourofhonor.com">https://scoring.tourofhonor.com</a></p>
          <% } %>
          <form class="login">
            <div class="uk-margin">
              <label class="uk-form-label largerLabel" for="UserEmail">Email Address</label>
              <input class="uk-input" id="UserEmail" type="email" placeholder="name@domain.com">
            </div>
            <div class="uk-margin">
              <label class="uk-form-label largerLabel" for="UserPassword">Password</label>
              <input class="uk-input" id="UserPassword" type="password" placeholder="Password">
            </div>
            <button class="uk-button uk-button-primary uk-button-small">Login</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="js/secretdoor.js"></script>
</body>