<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <body>
    <div class="pageWrapper">
      <%- include('../partials/topnav'); %>
      <main>
        <div class="uk-container-small uk-margin-auto">
          <div class="">
            <h1 class="uk-text-center">Tour of Honor Registration</h1>
            <p>Thank you for your interest in the Tour of Honor,  we look forward to your participation and truly hope you enjoy the ride! If you did NOT sign up in 2022, you're in the right place. Please fill out this form to create your account, then log in using your email and TOH password.</p>
            <p>If you signed up for 2022, then <a href="/login">log in here</a> before continuing. If you forgot your password, then <a href="/forgotpassword">click here</a> to reset it.</p>
            <p>All fields are required.</p>
            <form class="signup uk-grid-small uk-form-stacked" id="signupForm" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="FirstName">First Name</label>
                <input class="uk-input toh-input" required id="FirstName" type="text" placeholder="Firstname"></input>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="LastName">Last Name</label>
                <input class="uk-input toh-input" required id="LastName" type="text" placeholder="Lastname"></input>
              </div>
              <div class="uk-width-1-1@s">
                &nbsp;
                <label class="uk-form-label" for="Address1">Street Address</label>
                <input class="uk-input toh-input" required id="Address1" type="text" placeholder="Address1"></input>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="City">City</label>
                <input class="uk-input toh-input" required id="City" type="text" placeholder="City"></input>
              </div>
              <div class="uk-width-1-4@s">
                <label class="uk-form-label" for="State">State</label>
                <input class="uk-input toh-input" required id="State" type="text" placeholder="State"></input>
              </div>
              <div class="uk-width-1-4@s">
                <label class="uk-form-label" for="ZipCode">Zip Code</label>
                <input class="uk-input toh-input" required id="ZipCode" type="text" placeholder="Zip Code"></input>
              </div>
              <div class="uk-width-1-2@s">
                &nbsp;
                <label class="uk-form-label" for="Email">Email</label>
                <input class="uk-input toh-input" required id="Email" type="email" placeholder="someone@domain.com" autocomplete="username"></input>
              </div>
              <div class="uk-width-1-2@s">
                &nbsp;
                <label class="uk-form-label" for="EmailConfirm">Confirm Email <span class="labelValidationStatusFailed hide-me" id="emailValidationStatus">Emails do not match. Please try again.</span></label>
                <input class="uk-input toh-input" required id="EmailConfirm" type="email" placeholder="someone@domain.com" autocomplete="username"></input>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="Password">Password</label>
                <input class="uk-input toh-input" required id="Password" type="password" placeholder="************" autocomplete="new-password"></input>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="PasswordConfirm">Confirm Password <span class="labelValidationStatusFailed hide-me" id="passwordValidationStatus"></span></label>
                <input class="uk-input toh-input" required id="PasswordConfirm" type="password" placeholder="************" autocomplete="new-password"></input>
              </div>
              <div class="uk-width-1-2@s">
                &nbsp;
                <label class="uk-form-label" for="CellNumber">Cell Number&nbsp;<span uk-tooltip="We only use this for emergency communications. We do NOT advertise via phone/text."><i class="fa-solid fa-circle-question"></i></span></label>
                <input class="uk-input toh-input" required id="CellNumber" type="tel">
              </div>
              <div class="uk-width-1-2@s">
              </div>
              <div class="uk-width-1-2@s">Note: If you already have an account, <a href="/login">click here to log in</a>.</div>
              <div class="uk-width-1-2@s uk-text-right"><button type="submit" id="createUserButton" class="uk-button uk-button-primary button-rounded">Create Account</button></div>
            </form>
            <p>Once you click Create Account, you'll be taken to the login page so that you can log in with your new account.</p>
          </div>
        </div>
      </main>
  
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
    <script type="text/javascript" src="/js/signup.js"></script>
  </body>
</html>