<head>
  <%- include('../../partials/head'); %>
</head>

<body id="memorial-editor">
  <%- include('../../partials/topnav'); %>
  <main>
    <h4>MEMORIAL EDITOR</h4>
    <div class="addMemorialBtnDiv">
      <button type="button" class="uk-button uk-button-default addMemorialButton">Add New Memorial</button>
    </div>
    <!-- Add New Memorial Form -->
    <div class="hide-me" id="editMemorialInfo">
      <h5>ADD NEW MEMORIAL</h5>
      <form class="uk-grid-small uk-form-stacked" uk-grid>
        <div class="uk-width-1-1@s">
          <label class="uk-form-label" for="MemorialCategory">Memorial Type</label>
          <select class="uk-select" id="MemorialCategory">
            <option>Tour of Honor</option>
            <option>9/11</option>
            <option>Doughboys</option>
            <option>Gold Star Family</option>
            <option>Hueys</option>
            <option>Madonna Trail</option>
            <option>War Dogs/K9</option>
          </select>
        </div>
        <div class="uk-width-1-5@s">
          <label class="uk-form-label" for="MemorialCode">Memorial Code</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialCode" value="memorialCode object">
        </div>
        <div class="uk-width-4-5@s">
          <label class="uk-form-label" for="MemorialName">Memorial Name</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialName" value="memorialName object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialRegion">Region</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialRegion" value="memorialRegion object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialLatitude">Latitude</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialLatitude" value="memorialLatitude object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialLongitude">Longitude</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialLongitude" value="memorialLongitude object">
        </div>
        <div class="uk-width-1-1@s">
          <label class="uk-form-label" for="MemorialAddress1">Address1</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialAddress1" value="memorialAddress1 object">
        </div>
        <div class="uk-width-1-1@s">
          <label class="uk-form-label" for="MemorialAddress2">Address2</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialAddress2" value="memorialAddress2 object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialCity">City</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialCity" value="memorialCity object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialState">State</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialState" value="memorialState object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialAccess">Access</label>
          <input class="uk-input uk-width-1-1" type="text" id="MemorialAccess" value="memorialAccess object">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MemorialRestrictions">Restrictions</label>
          <select class="uk-select" id="MemorialRestrictions">
            <option>None</option>
            <option>Military Base</option>
            <option>Private Property</option>
            <option>Unavailable</option>
            <option>Construction</option>
          </select>
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="MultiImage">Require Two Images</label>
          <select class="uk-select" id="MultiImage">
            <option>No</option>
            <option>Yes</option>
          </select>
        </div>
        <div style="margin-top: 16px;">
          <button class="uk-button uk-button-default uk-button-small addMemorialButton">Cancel</button>
          <button class="uk-button uk-button-default uk-button-small" type="button" 
            id="saveMemorialEdits" data-userid="memorial-id-object">Save</button>
        </div>
      </form>
    </div>
    
    <!-- Memorial Table -->
    <h5>MEMORIAL LIST</h5>
    <table class="uk-table uk-table-striped uk-table-small">
      <thead>
        <tr>
          <th>Memorial Code</th>
          <th>Memorial Name</th>
          <th>City</th>
          <th>State</th>
          <th>Access</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

  <script src="/js/memorial-editor.js"></script>
</body>