<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include('../../partials/topnav'); %>
  <main>
    Put rider management stuff here
  </main>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>
</body>