<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include('../../partials/topnav'); %>
  <main>
    <h4>USER MANAGEMENT</h4>
    <div class="uk-container">
      <ul uk-tab>
        <li><a href="#">Users</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Sponsors</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <!-- Users Tab -->
        <li>
          <h5>USERS</h5>
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
              <tr>
                <th>Flag Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Member Of</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </li>
        <!-- Groups Tab -->
        <li>
          <h5>GROUPS</h5>
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
              <tr>
                <th>Group Name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </li>
        <!-- Sponsor Tab -->
        <li>
          <h5>SPONSORS</h5>
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>States</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>
</body>